include ../mixins/header_helper

meta(charset="utf-8")
mixin meta_tag("viewport","width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0, user-scalable=no")
title imagine card
mixin stylesheet_link_tag("./application.css")
mixin javascript_include_tag("./cordova.js")
mixin javascript_include_tag("./application.js")
mixin javascript_include_tag("./js/fastclick.js")
mixin javascript_include_tag("./js/jquery.hammer.js")
mixin javascript_include_tag("./js/plugins/SocialSharing.js")
