.foot_nav
	ul
		li.sync
			span.icon-refresh
			span.badge
				= cnt
		li.config
			span.icon-cogs
#help.modal
	.container
		.h_title.pacifico imagine card
		p 欢迎使用这款为爱拍照的你精心准备的学单词应用哦
		p 小柒将为你准备每周单词卡片特训课程
		p 基本操作很简单：用手指左右滑动来切换任务（mission) ，轻点卡片可以翻面，长按卡片立即拍照。
		p 最爽的是完全支持离线无网络下使用哦！记得及时同步就OK啦。
		p 小柒每周为您更新任务，任何建议欢迎访问 17up.org
		p 当前版本 v0.5

